.pageWrapper {
    width: 100%;
    height: calc(100% - 56px);
}

.displayWrapper {
    height: 35%;
    padding: 0 16px;
    color: #403C3D;
    /*box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);*/
}

.display1Wrapper {
    height: 50%;
    margin-bottom: 16px;
}

.display2Wrapper {
    height: 50%;
    margin-bottom: 16px;
}

.display1 {
    font-size: 75px;
    text-align: right;
    font-weight: 100;
    color: #585858;
}

.display2 {
    font-size: 50px;
    text-align: right;
    font-weight: 100;
    color: #a7a7a7;
}

.buttonsWrapper {
    height: 65%;
    background: white;
}

.buttonRow {
    height: 20%;
}

.button {
    width: 25%;
    font-size: 25px;
    height: 100%;
    outline: none;
    color: #585858;
    border: none;
    background: white;

}

.button:nth-child(4) {
    color: #5B9FD8;
}